{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=”stylesheet” type=”text/css” href="http://cdn.pydata.org/bokeh/release/bokeh-2.2.2.min.css">
    <link rel=”stylesheet” type=”text/css” href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.2.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.2.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'bmi/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' type='image/x-icon' %}">

    <title>Exerprise</title>

    <style> 
        .tab { 
            display: inline-block; 
            margin-left: 40px; 
        } 
    </style>

</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" style="background-color: black; opacity: 0.9;">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'home' %}">Exerprise
          <img src="/media/nav_pics/exerprise.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog</a>
            <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
            <a class="nav-item nav-link" href="{% url 'bmi-home' %}">BMI</a>
            <a class="nav-item nav-link" href="{% url 'exercises-home' %}">Exercises</a>
            <a class="nav-item nav-link" href="{% url 'recipes-home' %}">Recipes</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <div class="dropdown">
                <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                  {{ user.username }}
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                  <a class="dropdown-item" href="{%url 'change_password'%}">Change Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        {%if user.is_authenticated%}
            <div class="col-md-12">
        {%else%}
            <div class="col">
        {%endif%}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!--Bokeh-->
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.2.2.min.js"></script>
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.2.min.js"></script>
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.2.min.js"></script>
      <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.2.2.min.js"></script>

      {{script|safe}}

    <!--Custom Script-->
    <script type="text/javascript" src="{% static 'bmi/custom.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>
<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>