{%extends "bmi/base.html"%}
{% block content %}
<div class="media content-section">
	<div class="form-row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="tab-bmi">
				<h1>Bmi Calculator</h1>
			</div>
			<div class="tab">
				<button class="btn btn-primary" onclick="">Metric</button>
				<button class="btn btn-primary" onclick="">Imperial</button>
			</div>
			<div class="tabcontent" id="metric">
				 <h1>Metric Table</h1>
			</div>
			<div class="tabcontent" id="imperial">
				 <h1>Imperial Table</h1>
			</div>
		</div>

		<div class="col-md-6 col-sm-12 col-xs-12">
			
		</div>
	</div>
</div>
{% endblock content %}