{% extends 'bmi/base.html' %}
{% block content %}
<div class="media content-section">
	<div class="container">
		<div class="form-row">
			<!--##########Col1##########-->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="tab-bmi">
					<h1>BMI Calculator</h1>
					<div>
						<button class="btn btn-info" onclick="openUnit(event, 'metric')">Metric</button>
						<button class="btn btn-info" onclick="openUnit(event, 'imperial')">Imperial</button>
					</div>
					<div class="tabcontent" id="metric">
						<form method="post">
							{% csrf_token %}
							<div class="col-12">
								<label for="">Weight: </label>
								<input type="text" name="weight-metric" class="form-control" required placeholder="kg" >
							</div>
							<div class="col-12">
								<label for="">Height: </label>
								<input type="text" name="height-metric" class="form-control" required placeholder="m" >
							</div>
							{% if user.is_authenticated %}
							<div class="form-check my-3">
								<input class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
								<label class="form-check-label">Save It</label>
								<a href="#" title="Why?" data-toggle="popover" data-trigger="focus" data-content="In case you need to track your weight, you can save it. (Login Required!)">*</a>
							</div>
							{% else %}
							<div class="form-check my-3">
								<input disabled class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
								<label class="form-check-label">Save It</label>
							</div>
							{% endif %}
							<button type="submit" class="btn btn-primary" action="{% url 'bmi-home' %}">Calculate</button>
						</form>
					</div>
					<div class="tabcontent" id="imperial">
						<form method="post">
							{% csrf_token %}
							<div class="col-12">
								<label for="">Weight: </label>
								<input type="text" name="weight-imperial" class="form-control" required placeholder="lbs" >
							</div>
							<div class="col-12">
								<label for="">Height: </label>
								<div class="input-group">
									<input class="form-control" type="text" name="feet" placeholder="feet">
									<input class="form-control" type="text" name="inches" placeholder="inches">
								</div>
							</div>
							{% if user.is_authenticated %}
							<div class="form-check my-3">
								<input class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
								<label class="form-check-label">Save It</label>
							</div>
							{% else %}
							<div class="form-check my-3">
								<input disabled class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
								<label class="form-check-label">Save It</label>
							</div>
							{% endif %}
							<button type="submit" class="btn btn-primary" action="{% url 'bmi-home' %}">Calculate</button>
						</form>
					</div>
				</div>
				{{ div|safe }}
			</div>
			<!--##########Col2##########-->
			{% if bmi %}
			<div class="col-md-6 col-sm-12 col-xs-12" style="padding-left: 20px;">
				<h1>Result</h1>	
				<p>Your BMI = {{ bmi }} kg/m² | {{ state }}</p>
				<div class="progress">
					<div class="progress-bar bg-danger" style="width: 25%">
						Underweight
					</div>
					<div class="progress-bar bg-success" style="width: 25%">
						Normal
					</div>
					<div class="progress-bar bg-warning" style="width: 25%">
						Overweight
					</div>
					<div class="progress-bar bg-danger" style="width: 25%">
						Obese
					</div>
				</div>
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endblock content %}