{% extends "bmi/base.html" %}
{% block content %}
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home">Tips</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#menu1">Search</a>
  </li>
</ul>
<div class="media content-section" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane container fade" id="home">
	  	<div>
			<h1>Worried about what to eat?</h1>
				<p class="text-muted">Don't worry, we have got you covered :)</p>
				<p class="hr-2">
					<b>If your diet plan isn’t what it needs to be, your workout routine will fail completely no matter how perfect it is.</b>
					<br>
		            That is not an exaggeration. You could be using the single greatest workout program ever created and it will get you absolutely nowhere if you aren’t eating in a way that supports your goals.
		            What I’m trying to say is, your diet plan is equally as important as your workout routine (if not more so) in terms of getting the results you want to get.
		            So, what you need to do now is create the diet plan that will work best for you.
					As you can imagine, fully explaining how to do that would require its own insanely comprehensive guide.
					Until I get around to doing that, here’s the ultimate mini-guide to how to create your perfect diet plan.
				</p>
				<img class="rounded" src="/media/article_pics/food1.jpg" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
				<br>
				<p class="hr-2">
					<b>Step 1: Calorie Intake</b>
					<br>
		            The most common recommendations for your daily calorie intake are:
					If your primary goal is losing fat, you need to create a daily caloric deficit of  around 20% below your maintenance level.
					If your primary goal is building muscle (or increasing strength), you need to create a daily caloric surplus of about 250 calories above your maintenance level (about half that for women).
					Now let me explain what the hell that actually means.

					<b>Calorie Maintenance Level</b>
					<br>
					Every person has a certain number of calories that they need to eat each day in order to maintain their current weight. This is what’s known as your calorie maintenance level.

					There are a bunch of complicated ways to estimate what your maintenance level is, but the quickest and simplest way is to just multiply your current body weight (in pounds) by 14 and 18.

					Somewhere in between those 2 amounts will usually be your daily calorie maintenance level.

					If you’re more active and/or think you have a fast metabolism, then you should probably use the higher end of that range. If you’re less active and/or think you have a slow metabolism, then you should probably use the lower end of that range.

					If you’re unsure, just pick a number in the middle. We’ll make sure it’s perfectly accurate later on. Don’t worry.
					<br><br>
					<b>Next, pick your goal…</b>
					<br><br>
					<b>If Your Primary Goal Is Losing Fat…</b>
					In order to lose fat, you must consume LESS calories per day than your maintenance level amount. Doing so creates a caloric deficit, and this forces your body to start burning your stored body fat for energy.

					Meaning, a caloric deficit is a fat loss requirement.

					As I mentioned before, the most often recommended caloric deficit is about 20% below your maintenance level. So, let’s do some basic first grade level math.

					For example, if your estimated calorie maintenance level is 2500 calories per day, you’d figure out that 20% of 2500 is 500 (2500 x .20 = 500). Then you’d just subtract that 500 from 2500 and get 2000.

					In this example, this person would need to eat 2000 calories per day to lose fat.
					<br><br>
					<b>If Your Primary Goal Is Building Muscle…</b>
					In order to build muscle, you must consume MORE calories per day than your maintenance level. Doing so creates a caloric surplus, and this provides your body with the calories it needs to actually create new muscle tissue.

					Meaning, a caloric surplus is a muscle building requirement.

					As I mentioned before, the ideal caloric surplus for most guys is about 250 calories above your maintenance level, and around half that for girls. So, let’s do some basic first grade level math.

					For example, a man with an estimated calorie maintenance level of 2500 calories per day would add 250 or so calories to it and get about 2750.

					In this example, this person would need to eat about 2750 calories per day to build muscle at an ideal rate.
					<br><br>
					<b>Ensuring That Your Calorie Intake Is Correct</b>
					Since our calorie intake is based on an estimate, it’s possible it can be a little off. Luckily, there’s a very simple way to double check it.

					Weigh yourself once per week first thing in the morning before you eat or drink anything (or weigh in daily and take the weekly average). Then, just monitor what your weight does from week to week.

					If your goal is losing fat, you should end up losing between 0.5-2lbs per week (closer to 2lbs if you have a lot of fat to lose, closer to 0.5lbs if you only have a little fat to lose, or somewhere in the middle if you have an average amount to lose). If you are losing weight slower than that or not at all, then reduce your calorie intake by an additional 250 calories. If you are losing weight faster than that, then increase your calorie intake by about 250 calories.
					If your goal is building muscle (or increasing strength), you should end up gaining about 0.5lb per week (or about 2lbs per month). And again for women, it should be about half that. If you are consistently gaining weight faster than that, reduce your calorie intake by about 250 calories. If you are gaining weight slower than that or not at all, then increase your calorie intake by about 250 calories.
					Basically, just consistently weigh yourself each week and make sure your weight is moving in the right direction at the optimal rate that I just described.

					If is it, perfect! Keep eating that amount of calories each day.

					If it isn’t, then just adjust your calorie intake in 250 calorie increments until it is. Simple as that.
				</p>
				<p class="hr-2">
					<b>Step 2: Protein Intake</b>
					<br>
					The most common recommendation for the daily protein intake of healthy adults who are weight training regularly is:
					<br><br>
					<b>Between 0.8 – 1.5 grams of protein per pound of body weight. An even 1 gram of protein per pound is probably the most common recommendation of all.</b>
					<br><br>
					So, for example, if you weigh 175lbs, you’d shoot for about 175 grams of protein per day (or a little more if you prefer it).
					High protein foods include chicken, fish, turkey, lean meats, eggs/egg whites, milk, protein supplements and to a lesser extent nuts and beans as well.
				</p>
				<p class="hr-2">
					<b>Step 3: Fat Intake</b>
					<br>    
					The most common recommendation for your daily fat intake is:
					<br><br>
					<b>Fat should account for between 20-30% of your total calorie intake, with an even 25% probably being most common.</b>
					<br><br>
					For that to make sense, you need to know that 1 gram of fat contains 9 calories.
					<br>
					So, for example, if your ideal calorie intake is 2000 calories per day, you’d first figure out that 25% of 2000 is 500. Then, you’d divide 500 by 9 and figure out that you’d need to eat about 55 grams of fat per day in this example.
					<br>
					Foods high in the “healthy fats” that should account for the majority of your fat intake include fish, fish oil supplements, nuts (peanuts, almonds, walnuts, etc.), seeds, and olive oil.
				</p>
				<img class="rounded" src="/media/article_pics/food2.jpg" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
				<br>
				<p class="hr-2">
					<b>Step 4: Carb Intake</b>
					<br>
		            The most common recommendation for your daily carb intake is:
		            <br><br>
					<b>However many calories are left after a sufficient protein and fat intake have been factored in… those calories should come from carbs.</b>
					<br><br>

					Don’t worry, it’s not as confusing as it sounds.
					<br>
					Basically, figure out how many calories your protein and fat intake will account for, and then subtract them from your ideal total calorie intake. However many calories you’re left with to reach that ideal total… those calories will all come from carbs.
					<br>
					Confused? It’s alright, I’ll show you an example in a second.
					<br>
					The majority of your carb intake should come from foods like fruits and vegetables, rice (brown, white, whatever), sweet potatoes, white potatoes (they are not evil), and various beans and whole wheat/whole grain products (unless of course you have issues digesting grains).
					<br><br>
					<b>An Example Diet Plan</b>
					<br>
					Now let me show you a step by step example of how to put it all together.
					<br>
					Let’s pretend we have a guy who weighs 175lbs and has the primary goal of building muscle. Let’s also pretend his calorie maintenance level is 2250 calories (just a completely made up example number).
					<br>
					Here’s how he’d create his diet plan…
					<br>
					Since he wants to build muscle, he’d need to create a caloric surplus. With a maintenance level of 2250 calories, he’d now eat about 2500 calories per day.
					<br>
					Next, he decided to go with an even 1 gram of protein per pound of body weight. Since he weighs 175lbs, that means he’ll need to eat about 175 grams of protein per day. Since 1 gram of protein contains 4 calories, that means his protein intake will account for 700 calories each day (175 x 4 = 700).
					<br>
					From there he learned that about 25% of his total calorie intake should come from fat. Since this example person will be eating 2500 calories per day, he first figured out that 25% of 2500 is 625 calories (2500 x 0.25 = 625). Then, since 1 gram of fat contains 9 calories, he figured out that he’d need to eat about 69 grams of fat per day (625 ÷ 9 = 69).
					<br>
					At this point he sees that he has 700 calories worth of protein and 625 calories worth of fat, which means a total of 1325 of his daily calorie intake is accounted for (700 + 625 = 1325). But, since he needs to be eating 2500 calories per day, he’d see he has 1175 calories that are not yet accounted for (2500 – 1325 = 1175). So…
					That means those leftover 1175 calories will come from carbs. Since 1 gram of carbs contains 4 calories, this person would need to eat about 294 grams of carbs per day (1175 ÷ 4 = 294).
					<br>
					And that’s it. The most important parts of this example diet plan are done.
					<br>
					This example person figured out they will eat:
					<br>
					2500 calories per day
					<br>
					175 grams of protein per day
					<br>
					69 grams of fat per day
					<br>
					294 grams of carbs per day
					<br>
					Once again, these are all just completely made up amounts to show an example of how to set up your diet plan. 
					<br>
					That’s how you’d do it.
					<br>
					And yes, even though the person in the example above had the primary goal of building muscle, the diet would have been set up the exact same way if they had the primary goal of losing fat instead. The only difference is that they would have created a caloric deficit instead of a surplus in step 1.
					<br>
					The process of putting it all together would remain exactly the same.
				</p>
				<img class="rounded" src="/media/article_pics/food3.jpg" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
				<br>
				<p class="hr-2">
					<b>But What About Everything Else?</b>
					<br>
		           	Now, you may be wondering about certain other aspects of your diet besides your calorie, protein, fat and carb intake.
		           	<br>
					The thing is… you shouldn’t.
					<br>
					In all honesty, nothing else is that important. Everything described above is what will account for 99% of your diet’s effectiveness. Everything else is just a minor detail.
					<br>
					All that truly matters diet-wise is ensuring that you eat the right amount of calories each day along with an optimal amount of protein, fat and carbs that ideally come from mostly higher quality sources.
					<br>
					After that, it’s all a matter of doing whatever will best allow you to make that happen. What I mean is…
					<br>
					Eat at whatever times of the day you want. <br>
					Eat as many meals per day as you want. <br>
					Eat whatever combinations of foods and nutrients you want. <br>
					Organize you diet in whatever way is most convenient, enjoyable and sustainable for you. <br>
					That’s all that matters. Everything else is either extremely insignificant or just a stupid myth that is scientifically proven to not matter at all (like how you must eat 6 smaller meals per day… it’s bullshit). <br>

					Whatever is best for you, your life, your schedule and your preferences… that’s what you should do. <br>
				</p>
				<p class="hr-2">
					<b>But Seriously, What About Everything Else?</b>
					<br>
					Well, in addition to what I just explained, there’s really only a couple of additional tips worth caring about:
					<br>
					Drink plenty of water each day.
					<br>
					Surround your workouts with meals (aka your PRE and POST workout meals) that contain a nice amount of protein and carbs.
					<br>
					Get the majority of your calories from higher quality, nutrient-dense sources. Some junky stuff is fine, but keep it to just a small part of your overall diet.
					<br>
					Feel free to take a fish oil supplement and a basic multivitamin, use protein powder for convenience purposes, and possibly consider creatine as well.
					<br>
					And… that’s it.
					<br>
					That’s the ultimate mini-guide to creating the diet plan that will best support your workout routine and overall goal.
				</p>
				<p class="hr-2">
		            Happy Eating :)
				</p>
			</div>
	  </div>
	  <div class="tab-pane container active" id="menu1">
	  	<form action="" method="post" enctype="multipart/form-data">
	  		{% csrf_token %}
			<input type="file" multiple name="img[]"/>
			<input type="submit">
		</form>
		<?php
		print_r($_FILES['img']['name']);
		?>
	  </div>
	</div>
</div>

{% endblock content %}
