{%extends "bmi/base.html"%}
{%block content%}
<div class="media content-section" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
  <h1>About Us</h1>
</div>
<div class="card-deck my-3">
  <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img class="card-img-top rounded" src="/media/about_pics/ujjval.jpg" alt="Card image cap" style="height: 55%; width: 100%">
    <div class="card-body">
      <h5 class="card-title">Ujjval Dahiya</h5>
      <p class="card-text">CSE 3rd Year<br>18103077</p>
    </div>
  </div>
  <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img class="card-img- rounded" src="/media/about_pics/sarvagya.jpeg" alt="Card image cap" style="height: 55%; width: 100%">
    <div class="card-body">
      <h5 class="card-title">Sarvagya Meel</h5>
      <p class="card-text">CSE 3rd Year<br>18103006</p>
    </div>
  </div>
  <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img class="card-img-top rounded" src="/media/about_pics/negi.jpeg" alt="Card image cap" style="height: 55%; width: 100%">
    <div class="card-body">
      <h5 class="card-title">Tanvir Singh Negi</h5>
      <p class="card-text">CSE 3rd Year<br>18103061</p>
    </div>
  </div>
  <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img class="card-img-top rounded" src="/media/about_pics/jagseer.jpeg" alt="Card image cap" style="height: 55%; width: 100%">
    <div class="card-body">
      <h5 class="card-title">Jagseer Singh</h5>
      <p class="card-text">CSE 3rd Year<br>18103060</p>
    </div>
  </div>
</div>
{%endblock content%}
