{%extends "blog/base.html"%}
{%block content%}
    <article class="media content-section" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ object.date_posted }}</small>
          {%if object.author == user %}
          <div>
            <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{%url 'post-update' object.id%}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{%url 'post-delete' object.id%}">Delete</a>
         </div>
          {%endif%}
        </div>
        <h2 class="article-title">{{object.title}}</h2>
        <img class="rounded" src="{{ post.image.url }}" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
        <p class="article-content">{{ object.content }}</p>
        <form action="{% url 'like_post' post.pk %}" method="POST"> 
          {% csrf_token %} 
          {% if user.is_authenticated %}
            {% if liked %}
            <div class="border-top pt-1">
              <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm"> 
                {{ total_likes }} 
              </button>
            </div>
            {% else %}
            <div class="border-top pt-1">
              <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-secondary btn-sm"> 
                {{ total_likes }} 
              </button>
            </div>
            {% endif %}
          {% else %}
              <div class="border-top">
                <small class="text-muted">{{ post.likes.count }} likes</small>
              </div>
          {% endif %}
        </form>
      </div>
    </article>
{%endblock content%}
