{% extends "bmi/base.html" %}
{% block content %}
<!-- Nav tabs -->
  <div class="p-4 bg-white rounded shadow mb-5" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <!-- Rounded tabs -->
    <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
      <li class="nav-item flex-sm-fill">
        <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Search</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Workout Plans</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Tips</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-1 py-3 show active">
        <article class="media content-section my-3" style="border-radius: 5px;">
		  	<ul class="nav nav-pills">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="pill" href="#sechome">Search by Name</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#secmenu">Search by Equipment</a>
			  </li>
			</ul>
		</article>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane container active" id="sechome">
			  <form method="post">
				{% csrf_token %}
				<div class="my-3">
					<label for="">Enter Name: </label>
					<input type="text" name="exercise-name" class="form-control" required placeholder="" >
				</div>
				<button type="submit" class="btn btn-outline-primary my-3" action="#">Search</button>
			</form>
		  </div>
		  <div class="tab-pane container fade" id="secmenu">
		  	<form method="post">
				{% csrf_token %}
				<div>
					<label for="">Enter Equipment: </label>
					<input type="text" name="exercise-equipment" class="form-control" required placeholder="Names should be comma seperated" >
				</div>
				<p class="my-3">Select Difficulty:</p>
				<div class="form-check">
					<input class="form-check-input" checked="checked" name="beginner" value="on" type="checkbox">
					<label class="form-check-label">Beginner</label>
				</div>
				<div class="form-check my-3">
					<input class="form-check-input" checked="checked" name="intermediate" value="on" type="checkbox">
					<label class="form-check-label">Intermediate</label>
				</div>
				<div class="form-check my-3">
					<input class="form-check-input" checked="checked" name="advanced" value="on" type="checkbox">
					<label class="form-check-label">Advanced</label>
				</div>
				<button type="submit" class="btn btn-outline-primary my-3">Search</button>
			</form>
		  </div>
		  {% if case == 1 %}
			<div class="media content-section">
					<div class="media-body">
					<h1 class="my-3">RESULTS</h1>
					</div>
			</div>
			    {%for exercises in results%}
					<article class="media content-section">
					    <div class="media-body"> 
					    	<div class="article-metadata">
					        	<h2>{{ exercises.Exercise_Name }}</h2>
					        </div>
					        <div class="article-metadata">
					        	<p class="my-3"><b>Body Parts -</b> {{ exercises.Body_Part }}<span class="tab"></span><b>Difficulty -</b> {{ exercises.Difficulty }}</p>
						        <p class="my-3"></p>
					        </div>
					        <div class="row">
						    	<div class="col-md-6">
						    		<img class="rounded my-4" src="/media/exercise_pics/{{exercises.ID}}.gif" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
						    	</div>
						        <div class="col-md-6">
						        	<p class="article-content my-3" style="text-align: justify;"><b>Procedure -</b> {{ exercises.Procedure }}</p>
						        </div>
					        </div>
					    </div>
					</article>
				{%endfor%}
			{% elif case == 2 %}
				<div class="media content-section">
					<div class="media-body">
					<h1 class="my-3">RESULTS</h1>
					</div>
			    </div>
				{%for exercises in results%}
				<article class="media content-section">
				    <div class="media-body"> 
				    	<div class="article-metadata">
				        	<h2>{{ exercises.Exercise_Name }}</h2>
				        </div>
				        <div class="article-metadata">
					       	<p class="my-3"><b>Body Parts -</b> {{ exercises.Body_Part }}<span class="tab"></span><b>Difficulty -</b> {{ exercises.Difficulty }}</p>
					        <p class="my-3"></p>
				        </div>
				        <div class="row">
					    	<div class="col-md-6">
					    		<img class="rounded my-4" src="/media/exercise_pics/{{exercises.ID}}.gif" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
					    	</div>
						    <div class="col-md-6">
					        	<p class="article-content my-3" style="text-align: justify;"><b>Procedure -</b> {{ exercises.Procedure }}</p>
					        </div>
				        </div>
				    </div>
				</article>
				{%endfor%}
				<div class="media content-section">
					<div class="media-body">
					<h1 class="my-3">OUR RECOMMENDATIONS</h1>
					</div>
				</div>
				{%for exercises in recommendations%}
				<article class="media content-section">
				    <div class="media-body"> 
				    	<div class="article-metadata">
				        	<h2>{{ exercises.Exercise_Name }}</h2>
				        </div>
				        <div class="article-metadata">
				        	<p class="my-3"><b>Body Parts -</b> {{ exercises.Body_Part }}<span class="tab"></span><b>Difficulty -</b> {{ exercises.Difficulty }}</p>
					        <p class="my-3"></p>
				        </div>
					    <div class="row">
						   	<div class="col-md-6">
						   		<img class="rounded my-4" src="/media/exercise_pics/{{exercises.ID}}.gif" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
						   	</div>
						    <div class="col-md-6">
						       	<p class="article-content my-3" style="text-align: justify;"><b>Procedure -</b> {{ exercises.Procedure }}</p>
					        </div>
				        </div>
					</div>
				</article>
			{%endfor%}
			{% endif %}
		</div>
      </div>
      <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-1 py-3">
        <article class="media content-section my-3">
		  	<ul class="nav nav-pills">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="pill" href="#sechome1">Beginner</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#secmenu1">Intermediate</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#secmenu2">Advanced</a>
			  </li>
			</ul>
		</article>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane container active" id="sechome1">...</div>
		  <div class="tab-pane container fade" id="secmenu1">...</div>
		  <div class="tab-pane container fade" id="secmenu2">...</div>
		</div>
      </div>
      <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-1 py-3">
        <h1>Don't have the perfect workout plan?</h1>
			<p class="text-muted">Don't worry, we'll help you :)</p>
			<p class="hr-2">
				An effective workout is more than a sum of its parts. Its ability to build muscle, burn fat, and improve performance depends upon everything from its set and rep scheme (spoiler: there’s no one-size-fits-all approach), how you order your exercises, and, ultimately, how it challenges you week-to-week and month-to-month. So before you wing another workout, read on and follow these seven steps to design your ideal workout routine.
			</p>
			<img class="rounded" src="/media/article_pics/gym1.jpg" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
			<br>
			<p class="hr-2">
				<b>1. Think specificity</b>
				<br>
	            Work a specific muscle, body part, or skill, and that’s what’s going to improve. Called “the principle of training specificity,” it might seem pretty basic, but it’s foundational to effective exercise training. Your goal ultimately determines the exercises that need to be part of your workout routine, explains Nick Tumminello, C.P.T., owner of Performance University in Fort Lauderdale and author of Strength Training for Fat Loss. “If the goal is to become more explosive, do explosive exercises. If the goal is to become stronger, lift heavy weights for fewer reps. If the goal is fat loss, you want to increase intensity to maximize your EPOC or ‘afterburn’ effect,” he says.
			</p>
			<p class="hr-2">
				<b>2. Divide your days</b>
				<br>
	            Before you can craft the ideal workout sessions, you need to determine how often you can (realistically) hit the gym. That’s because, if you are going to perform three or fewer workouts per week, it’s most effective to make every workout a total-body one, Tumminello says. However, if you want to work out four or more times per week, you’ll need to break things up to prevent overtraining. Rather than splitting workouts based on body parts, exercise physiologist Pete McCall, C.S.C.S., recommends dividing them according to movement type. For instance, you might schedule an upper-body pull day (rows, pullups), an upper-body push day (pushups, skull crushers), a hip-dominant day (squats, hip thrusters), and a rotational day (cable wood chops, bicycle crunches) into the mix. Whatever your schedule, make sure that you get enough rest by scheduling at least one full day of rest each week, and making sure no two high-intensity workouts fall back-to-back, he says.
			</p>
			<p class="hr-2">
				<b>3. Inventory your gym</b>
				<br>
	            If your gym doesn’t have tires lying around, tire flips probably aren’t going to be part of your workout. But a lot of guys don’t think about their gym’s layout and overall environment when selecting exercises as well as protocols. After all, if your gym is typically busy, you’ll probably want to stick with one piece of equipment at a time rather than rotating through circuits and ticking off your fellow gym-goers, Tumminello says. If weights are in short supply, it might be more efficient to perform as many exercises with one set of weights, as opposed to trying unsuccessfully to switch equipment five or 10 times during a given workout.
			</p>
			<img class="rounded" src="/media/article_pics/dumbbell.jpg" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
			<br>
			<p class="hr-2">
				<b>4. Decide on a set-rep-rest scheme</b>
				<br>
	            To decide how many sets and reps you’ll perform of each exercise, think back to your fitness goal. If strength is what you want, you should focus on low-rep, high-set schemes such as six sets of three to five reps. Meanwhile, three sets of eight to 12 reps is more effective for putting on muscle size. If fat-loss is your main goal, high-rep schemes like three sets of 15 to 20 reps work well, as do circuits, Tumminello says. Overall, keep in mind that when you decrease the number of reps per set, you need to increase the load you’re lifting. When it comes to rest, you’ll generally need more depending upon how much you’re lifting, McCall says. Guys performing max or near-max lifts, performing just one or two reps per set, will often need two to three minutes to sufficiently rest up between sets. Meanwhile, 45 to 60 seconds rest is best for elevating heart rate, calorie burn, as well as muscle growth, he says.
			</p>
			<p class="hr-2">
				<b>5. Hit compound, then isolation moves</b>
				<br>
	            “You only have so much energy, so it generally benefits you to structure your workouts so that you perform larger, complex movements earlier in your workout and isolation movements later,” McCall says. After all, power cleans require a lot more energy, power, and focus than do biceps curls, and big moves are the ones that make the biggest difference in your ability to hit your fitness goal. There is one caveat, though. If your primary goal is to strengthen one specific body part, it’s OK to organize your workout so that you isolate that muscle before performing compound movements that hit other ones as well, he says. It’s all a matter of priority.
			</p>
			<img class="rounded" src="/media/article_pics/compound.png" style="max-height: 100%; max-width: 87.5%; display: block; margin-left: auto; margin-right: auto; vertical-align: middle;">
			<br>
			<p class="hr-2">
				<b>6. Choose the best exercises</b>
				<br>
	            You can find tons of great options here at Exerprise broken up by equipments and/or body part. We have upper-body moves that build your core, the best legs exercises of all time, the best shoulders exercises of all time, exercises to work your abs to exhaustion, and plenty, plenty more.
			</p>
			<p class="hr-2">
				<b>7. Switch things up</b>
				<br>
	            You’ve crafted the perfect sweat session. But to keep benefitting from it, you need to constantly change it. “The body adapts in about 12 to 14 weeks to whatever stress is being applied, so you need to change up your workout routine every eight to 12 weeks to prevent plateauing,” McCall says. Luckily, you don’t have to throw out your whole routine to keep your body guessing. He recommends performing the same routine, but with different equipment; changing your set and rep scheme; or simply changing the exercise variations you use. So instead of performing back squats like before, maybe you opt for front or single-leg squats.
			</p>
			<p class="hr-2">
	            Happy Lifting :)
			</p>
      </div>
    </div>
    <!-- End rounded tabs -->
</div>

{% endblock content %}
